@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IRANYekan';
  src: url('/fonts/IRANYekan/IRANYekanWeb-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-iran-yekan: 'IRANYekan', sans-serif;
}
